:root {
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #408881;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  display: flex;
  background-color: #1e4e49;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  display: flex;
}

a {
  font-size: large; 
  font-weight: 500;
  color: #ffffff;
  margin: 5px;
  background-color: #408881;
  padding: 5px;
  border-radius: 5px;
}
a:hover {
  color: #987A67;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

footer{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  justify-content: center;
}

.linkedin{
  font-size: 30px;
}

.container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.card{
  display: flex;
  width: 350px;
  margin: 10px;
  padding: 5px;
  border-color: #1e4e49;
  border-style: double;
  border-radius: 5px;
  justify-content: center
}
.about{
  display: flex;
  width: 75%;
  margin: 10px;
  padding: 5px;
  border-color: #1e4e49;
  border-style: double;
  border-radius: 5px;
  justify-content: center
}